*{
    margin: 5px;
    padding: 5px;
    border: 12px;
}


body{
    background-color: rgb(45, 105, 209);
    


    

}



h1{
    color: darkblue;
    font-family:'Courier';
    font-weight: 500px;
    text-align: center;
    text-decoration: underline;
}

h2{

    color: darkblue;
    font-family: 'Courier';
    font-weight: 500px;
    text-align: center;
    text-decoration: underline;
    }

h3{

    color: darkblue;
    font-family: 'Courier';
    font-weight: 500px;
    text-align: center;
    text-decoration: underline;

}


.maindiv{background-color: rgb(212, 213, 216); color: darkblue; font-family: 'Courier';}

.familydiv{background-color: rgb(168, 173, 210); color: darkblue; font-family: 'Courier';}
.animediv{background-color: rgb(163, 221, 38); color: darkblue; font-family: 'Courier';}
.cookingdiv{background-color: rgb(201, 72, 89); color: darkblue; font-family: 'Courier';}
#div2{background-color: cadetblue;}
#div3{background-color: rgb(148, 178, 203);}
#div4{background-color: rgb(85, 152, 154);}

.maindiv{position: relative; margin: 20px;}

form{
    padding: 15px;
    background-color: rgb(223, 244, 163);
    font-style: italic;
    border-style: solid;
    font-weight: 900px;  
}
input[type=button] {color: rgb(228, 155, 155);
    background-color: rgb(145, 43, 213);
    padding: 5px;
}
input[type=button]:hover{border: solid; background-color: forestgreen; width: auto;}
input[type=text]:focus{color: rgb(201, 35, 35); background-color: rgb(99, 202, 231); width: auto; transition: 2s;}


p{

    color:darkblue;
    font-size: larger;


}
a{

    font-size: large;
    text-decoration: none;

}